<script lang="ts">
    export let checked: boolean = false;
    export let text: string = '';
    export let disabled: boolean = false;
</script>

{#if disabled}
<div class="container" class:disabled on:click={() => checked = !checked}>
    <div class="checkbox" class:checked={checked}>
        <div></div>
    </div>
    <div class="text" class:selected={checked}>{text}</div>
</div>
{:else}
<div class="container" on:click={() => checked = !checked}>
    <div class="checkbox" class:checked={checked}>
        <div></div>
    </div>
    <div class="text" class:selected={checked}>{text}</div>
</div>
{/if}


<style>
    .container {
        display: flex;
        margin-top: 5px;
        cursor: pointer;
        user-select: none;
    }

    .checkbox {
        width: 17px;
        height: 17px;
        border: 1px solid rgba(255, 255, 255, 0.4);
        border-radius: 5px;

        display: flex;
        justify-content: center;
        align-items: center;

        margin-right: 20px;
    }

    .checkbox > div {
        width: 15px;
        height: 15px;
        border-radius: 3px;
    }

    .checkbox.checked div {
        background: white;
    }

    .text {
        font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
        font-size: 17px;
        color: rgba(255, 255, 255, 0.4);
    }

    .text.selected {
        font-weight: bold;
        color: white;
    }

    .disabled {
        pointer-events: none;
    }
</style>