<script lang="ts">
    import { settingsIcon } from "./svgs";
    import { createEventDispatcher } from 'svelte';

    const dispatch = createEventDispatcher();
</script>

<div class="controls">
    <div class="last-captured">
        <div></div>
    </div>

    <div>
        <button class="camera" on:click={() => {
            dispatch('capture');
        }}></button>
    </div>
  
    <div>
        <div style="color: white" on:click={() => {
            dispatch('settings');
        }}>
            {@html settingsIcon}
        </div>
    </div>
</div>

<style>
    .last-captured div {
        width: 30px;
        height: 30px;
        border-radius: 9999px;

        background-size: cover;
    }

    .controls {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;

        background: #000000B3;

        height: 115px;

        display: flex;
        justify-content: space-evenly;
        align-items: center;

        padding-bottom: 10px;
    }


    .camera {
        outline: none;
        border-radius: 9999px;
        border: none;
        
        border: 2px solid white;
        background: #E24A4A;

        width: 50px;
        height: 50px;

        margin: 0;
    }

    .camera:active {
        filter: brightness(80%);
    }
</style>