<script lang="ts">
    import { greenResultIcon, orangeResultIcon, redResultIcon } from "./svgs";
    import { createEventDispatcher } from 'svelte';
    import type { allergens, Result } from "./stores";
// import App from "./App.svelte";

    alert('Results received from server.');

    const dispatch = createEventDispatcher();

    export let debugMode = false;
    export let result: Result;

    $: allergenResults = result.allergens.map((_, i) => ({
        allergen: result.allergens[i],
        score: result.score[i],
        color: result.scorecolor[i]
    }));

    $: hitResults = result.titlelist.map((_, i) => ({
        title: result.titlelist[i],
        ingredients: result.ingrlist[i],
        image: result.imgrlist[i],
    }));        

</script>


<!-- <p>Results received.</p> -->

{#if debugMode}
    <div class="screen">
        <div class="content">
            <h1>{result.usertitle}</h1>
            <img src={result.img} style="max-width: 80%;" alt="" srcset="">

            {#each allergenResults as result}
                <div class="result">
                    <div class={`dot ${result.color}`}></div>
                    <div>{result.allergen} score: {Math.round(result.score)}%</div>
                </div>
            {/each}

            {#each hitResults as result}
                <div class="info">
                    <h3>{result.title}</h3>
                    <img src={result.image} style="max-width: 50%;" alt="" srcset="" width="400">                    
                    {#each result.ingredients as ingredient}
                        <li>{ingredient}</li>
                    {/each}
                </div>
            {/each}

            <button on:click={() => {
                dispatch('continue');
            }}>Continue</button>
        </div>
    </div>
<!--
    // <h3>{result.usertitle}</h3>
    // <img src={result.img} style="max-width: 100%;" alt="" srcset="">
    //<p>{allergenResults}</p>
    // {#each allergenResults as result}
    //     <h3>{result.title}</h3>
    //     <img src={result.image} style="max-width: 100%;" alt="" srcset="">
    //     <ul>
    //         // {#each result.ingredients as ingredient}
    //         //     <li>{ingredient}</li>
    //         // {/each}
            
    //             <li>{result.ingredients || []}</li>
            
    //     </ul>
    // {/each}

    //<pre>{JSON.stringify(result, null, 4)}</pre>

    // <button on:click={() => {
    //     dispatch('continue');
    // }}>Continue</button>
    -->
{:else}
 <!--
//     <div class="screen">
//         <div class="content">
//             <div class={`circle ${response.scorecolor[0]}`}>
//                 {@html statusIcon[response.scorecolor[0]]}
//             </div>

//             <div class="primary-message">{@html statusMessagePrimary[response.scorecolor[0]]}</div>
//             <div class="secondary-message">{@html statusMessageSecondary[response.scorecolor[0]]}</div>

//             <div class="allergens-list">
//                 {#each response.allergens.slice(0, Math.min(5, response.allergens.length)) as allergen}
//                     <div class="allergen">{allergen}</div>
//                 {/each}

//                 {#if response.allergens.length > 5}
//                     <div class="more-allergens">and {response.allergens.length - 5} more</div>
//                 {/if}
//             </div>

//             <button on:click={() => {
//                 dispatch('continue');
//             }}>Continue</button>
//         </div>
    
//     </div>
 -->
    <div class="screen">
        <div class="content">
            <h1>{result.usertitle}</h1>
            <img src={result.img} style="max-width: 100%;" alt="" srcset="">

            {#each allergenResults as result}
                <div class="result">
                    <div class={`dot ${result.color}`}></div>
                    <div>{result.allergen} score: {Math.round(result.score )}%</div>
                </div>
            {/each}

            <button on:click={() => {
                dispatch('continue');
            }}>Continue</button>
        </div>
    </div>
{/if}


<style>
    .screen {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;

        background: #343434;


        font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    }

    .content {
        color: #ddd;
        width: 75%;
    }

    .result {
        color: white;
        display: flex;
    }

    .dot { 
        width: 20px;
        height: 20px;
        border-radius: 50%;
    }

    .dot.green {
        background: #6CC66A;
    }

    .dot.orange {
        background: #C57C39;
    }

    .dot.red {
        background: #E25353;
    }

    /*.allergens-list {
        min-height: 100px;
        margin-top: 25px;
    }

    .allergen {
        font-weight: bold;
        color: rgba(255, 255, 255, 0.5);
        font-size: 17px;
        margin-top: 8px;
    }

    .more-allergens {
        color: rgba(255, 255, 255, 0.5);
        font-size: 17px;
        margin-top: 20px;
    }

    .primary-message {
        color: #fff;
        font-size: 22px;
        font-weight: bold;
        margin-top: 30px;
    }

    .secondary-message {
        color: rgba(255, 255, 255, 0.5);
        font-size: 17px;
        margin-top: 25px;
    }

    

    .circle {
        border-radius: 50%;
        width: 200px;
        height: 200px;
        border-width: 7px;
        border-style: solid;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .circle.green {
        border-color: #6CC66A;
    }

    .circle.orange {
        border-color: #C57C39;
    }

    .circle.red {
        border-color: #E25353;
    }

    button {
        outline: none;
        border: none;
        background: #fff;
        color: #141414;
        font-size: 15px;
        border-radius: 5px;

        font-weight: bold;

        margin-top: 30px;
        margin-bottom: 80px;

        padding: 10px 25px;

        font-family: 'Neue Haas Grotesk Text Pro', sans-serif;
    }*/


</style>