<script lang="ts">
    import Checkbox from "./Checkbox.svelte";
    import { arrowIcon } from "./svgs";
    import { createEventDispatcher } from 'svelte';

    const dispatch = createEventDispatcher();

    export let allergens: Record<string, boolean> = {};

    export let uploadURL = '';
    export let deviceIP = '';
    export let username = '';

    export let debugMode = false;
</script>

<div class="screen">
    <div class="content">
        <div class="title">Settings</div>

        <label for="">Username</label>
        <input type="text" placeholder="JohnSmith" bind:value={username}>

        <label for="">Server Address</label>
        <input type="text" placeholder="https://red.myspectral.com/upload" bind:value={uploadURL}>

        <label for="">Local IP</label>
        <input type="text" placeholder="esp32.local" bind:value={deviceIP}>


        <div style="margin-top: 15px"></div>

        <Checkbox bind:checked={debugMode} disabled text="Debug mode"/>

        <div class="subtitle">Allergens</div>

        {#each Object.keys(allergens) as allergen}
            <Checkbox bind:checked={allergens[allergen]} text={allergen} />
        {/each}
    </div>

    <div class="align-right">
        <button on:click={() => {
            dispatch('back');
        }}>
            {@html arrowIcon}
            <div>Back</div>
        </button>
    </div>
    
</div>

<style>
    .screen {
        width: 100%;
        height: 100%;

        background: #141414;

        font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    }

    .content {
        padding: 0 30px;
    }

    .align-right {
        display: flex;
        justify-content: flex-end;
        padding: 0 15px;
    }

    .title {
        font-weight: bold;
        font-size: 30px;
        color: white;

        padding-top: 60px;
        margin-bottom: 25px;
    }

    .subtitle {
        font-weight: bold;
        font-size: 25px;
        color: white;

        margin-top: 20px;
        margin-bottom: 15px;
    }

    label {
        font-size: 17px;
        font-weight: bold;
        color: rgba(255, 255, 255, 0.4);

        margin-top: 10px;
    }

    input {
        margin-top: 5px;

        outline: none;
        border: none;

        background: #242424;
        

        border-radius: 5px;
        font-size: 17px;
        font-family: 'Neue Haas Grotesk Display Pro', sans-serif;

        width: 85%;

        padding: 8px;

        color: white;
    }

    input::placeholder {
        font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
        color: rgba(255, 255, 255, 0.4);
    }

    button {
        border: none;
        background: #fff;
        color: #141414;
        font-size: 15px;
        border-radius: 5px;

        font-weight: bold;

        margin-top: 30px;
        margin-bottom: 80px;

        padding: 10px 25px;

        font-family: 'Neue Haas Grotesk Text Pro', sans-serif;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    button > div {
        margin-left: 8px;
    }
</style>