<script lang="ts">
    export let status: 'unknown' | 'error' | 'ok';
    export let message: string;
</script>

<div class="status">
    <div class="circle {status}"></div>
    {message}
</div>

<style>
    .circle {
        height: 12px;
        width: 12px;
        border-radius: 50%;

        margin-right: 15px;
    }

    .circle.ok {
        background-color: #7EE96D;
    }

    .circle.error {
        background-color: #E24A4A;
    }

    .circle.unknown {
        background-color: #555;
    }

    .status {
        position: fixed;

        left: 10px;
        top: 45px;

        padding: 10px 15px;

        background: #242424;

        display: flex;
        justify-content: space-evenly;
        align-items: center;

        color: #9C9C9C;
        font-size: 12px;
        font-weight: bold;
        
        border-radius: 5px;

        z-index: 100;
    }
</style>

