<script lang="ts">
    import { disconnectIcon } from "./svgs";
    import { createEventDispatcher } from 'svelte';

    const dispatch = createEventDispatcher();

    export let streamURL: string;
    export let streaming: boolean = false;

    let success = false;
    let error = false;


    $: success = !(streaming || true);
    $: error = !(streaming || true);
</script>

<div class="container">
    <div class="background" style={success ? `background-image: url('${streamURL}')` : 'background: #141414; filter: none;'}>
        {#if !streaming}
            <div class="stream-offline">
                Press the button to start capturing.
                Press it again to stop.
            </div>
        {:else}
            {#if error}
                <div>Stream Error</div>
            {:else if !success}
                <div class="lds-ellipsis">
                    <div />
                    <div />
                    <div />
                    <div />
                </div>
            {/if}
        {/if}
    </div>
    <div class="image">
        <div style={success ? 'background: #00000060' : 'background: #00000000'}>
            <div>
                <img
                    src={streaming ? streamURL : ''}
                    style={success ? '' : 'display: none'}
                    alt=""

                    on:loadeddata={() => {
                        console.log('data');
                    }}

                    on:error={() => error = true}
                    on:load={() => success = true}
                />
            </div>
        </div>
    </div>
</div>

<style>
    .lds-ellipsis {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
    }
    .lds-ellipsis div {
        position: absolute;
        top: 33px;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background: #fff;
        animation-timing-function: cubic-bezier(0, 1, 1, 0);
    }
    .lds-ellipsis div:nth-child(1) {
        left: 8px;
        animation: lds-ellipsis1 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(2) {
        left: 8px;
        animation: lds-ellipsis2 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(3) {
        left: 32px;
        animation: lds-ellipsis2 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(4) {
        left: 56px;
        animation: lds-ellipsis3 0.6s infinite;
    }
    @keyframes lds-ellipsis1 {
        0% {
            transform: scale(0);
        }
        100% {
            transform: scale(1);
        }
    }
    @keyframes lds-ellipsis3 {
        0% {
            transform: scale(1);
        }
        100% {
            transform: scale(0);
        }
    }
    @keyframes lds-ellipsis2 {
        0% {
            transform: translate(0, 0);
        }
        100% {
            transform: translate(24px, 0);
        }
    }


    .container {
        position: relative;
        width: 100%;
        height: 100%;
    }
    
    .stream-offline {
        text-align: center;
        color: #fff;
    }

    .background {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        padding: 50px;

        color: white;
        
        display: flex;
        justify-content: center;
        align-items: center;

        filter: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='a' x='0' y='0' width='1' height='1' color-interpolation-filters='sRGB'%3E%3CfeGaussianBlur stdDeviation='8' result='b'/%3E%3CfeMorphology operator='dilate' radius='16'/%3E %3CfeMerge%3E%3CfeMergeNode/%3E%3CfeMergeNode in='b'/%3E%3C/feMerge%3E%3C/filter%3E %3C/svg%3E#a");
    }

    .image {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;

        display: flex;
        justify-content: center;
    }


    .image > div {
        display: table;
        width: 100%;
        height: 100%;  
        position: relative;
    }

    .image > div > div {
        display: table-cell;  
        vertical-align: middle;
        text-align: center;
        margin: auto;
        max-height: 100%;
        max-width: 100%;
    }

    .image > div > div > img {
        object-fit: contain;
        height: 100%;
        width: 100%;
    }

</style>